$ssgs-columns: 2 3 4 5 6;
$ssgs-prefixes: (
  'M': '(min-width: 30em)',
  'L': '(min-width: 45em)'
);

@import 'ssgs';

/**
 * FONTS
 * --------------------------------------------------------
 *
 * Source Sans Pro (400, 700) is used across the design,
 * served from Google Web Fonts.
 */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

/* GENERAL STUFF */

* {
  box-sizing: border-box;
}

html {
  font: 87.5%/1.5 Source Sans Pro, sans-serif;
  color: #333;
  background-color: #f5f5f5;

  @media (min-width: 30em) {
    font-size: 100%;
  }

  @media (min-width: 50em) {
    font-size: 112.5%;
  }

  @media (min-width: 70em) {
    font-size: 125%;
  }
}

body {
  margin: 0;
}

section {
  padding: 3em;
  margin: 0;

  &:nth-child(even) {
    color: #f5f5f5;
    background-color: #cf7659;
    border-top: 1px solid rgba(60, 60, 60, 0.35);
    border-bottom: 1px solid rgba(60, 60, 60, 0.35);
  }
}

.wrap {
  max-width: 45em;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
pre {
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: Futura, Soure Sans Pro, sans-serif;
}

h1 {
  margin-bottom: 0.75em;
  font-size: 2em;
}

h2 {
  margin-bottom: 1.071em;
  font-size: 1.4em;
  line-height: 1.071;
}

h3 {
  margin-bottom: 1.25em;
  font-size: 1.2em;
  line-height: 1.25;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: #ab4444;
  border-bottom: 1px solid;
  text-decoration: none;
  transition: border-bottom-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &:hover,
  &:focus {
    color: lighten(#AB4444, 10%);
    outline: none;
  }

  &:active {
    position: relative;
    top: 2px;
  }
}

[data-button] {
  display: block;
  padding: 0.75em 1.5em;
  margin-right: 1em;
  border: 1px solid #ccc;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  background-size: 200%;
  background-position: 0 100%;
  border-radius: 5px;
  transition: color 0.25s ease-in-out, background-position 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-position: 0;
  }

  @media (min-width: 30em) {
    display: inline-block;
  }
}

[data-button="primary"] {
  color: #f0f0f0;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  border: 1px solid #0044cc;

  &:hover,
  &:focus {
    color: #fff;
  }

  @media (max-width: 30em) {
    margin-bottom: 1.5em;
  }
}

pre,
code {
  font-family: Source Code Pro, Consolas, Monaco, Andale Mono, monospace;
}

.code pre {
  margin-bottom: 0;
}

/* DEMO STUFF */

.box {
  height: 4.5em;
  background-color: #eee;
}

[data-grid] {
  margin-bottom: -1.5em;
}

[data-col] {
  margin-bottom: 1.5em;
}

.code {
  padding: 1.5em;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #eee;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 40em) {
    height: 15em;
  }
}

.code-short {
  margin-bottom: 1.5em;

  @media (min-width: 40em) {
    height: auto;
  }
}

.option {
  overflow: hidden;
}

/* SYNTAX HIGHLIGHTING */

.tag,
.attribute {
  color: #4f9fcf;
}

.tag-name {
  color: #2f6f9f;
}

.attribute-value,
.variable {
  color: #d44950;
}

.number {
  color: #7653c1;
}

.string {
  color: #bc670f;
}

.control {
  color: #b48ead;
}