/**
 * Columns in SSGS rely on `box-sizing: border-box;` in order to work properly.
 * It is considered good practice to just apply the 'correct' box-sizing to all
 * elements, even by people like Paul Irish.
 * (see: http://paulirish.com/2012/box-sizing-border-box-ftw/)
 *
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 */

/**
 * SSGS uses floats to do the heavy lifting with the layout so there needs to be a
 * clearfix. The one that's worked best for me is Nicolas Gallagher's `Micro Clearfix`
 * hack. It is included below. If you already have a working clearfix in place
 * (`overflow: hidden` does not count), feel free to remove this one.
 * (see: http://nicolasgallagher.com/micro-clearfix-hack/)
 */

.clearfix {
    *zoom: 1;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/**
 * SSGS uses a fully fluid six-column grid with fixed width gutters. To change the width
 * of the gutters, replace all instances of `1.5em`. Use an element with `.grid` as a
 * wrapper and then include your content as `.grid-col` with the appropriate widths, e.g.
 * `.one-half` or `.1-2`.
 * Don't forget to include the clearfix in your `.grid`, otherwise it will break your
 * layout.
 *
 * Example:
    <div class="grid clearfix">
        <div class="grid-col one-half"></div>
        <div class="grid-col one-half"></div>
    </div>
 */

 .grid-col {
    display: block; /* So all kinds of elements can be used as grid containers. */
    float: left;
    width: 100%;
    padding-left: 1.5em;
 }

.one-half,
.two-quarters,
.three-sixths,
.1-2,
.2-4,
.3-6 {
    width: 50%;
}

.one-third,
.two-sixths,
.1-3,
.2-6 {
    width: 33.333%;
}

.two-thirds,
.four-sixths,
.2-3,
.4-6 {
    width: 66.666%;
}

.one-quarter,
.1-4 {
    width: 25%;
}

.three-quarters,
.3-4 {
    width: 75%;
}

.one-fifth,
.1-5 {
    width: 20%;
}

.two-fifths,
.2-5 {
    width: 40%;
}

.three-fifths,
.3-5 {
    width: 60%;
}

.four-fifths,
.4-5 {
    width: 80%;
}

.one-sixth,
.1-6 {
    width: 16.666%;
}

.five-sixth,
.5-6 {
    width: 83.333%;
}

.golden-ratio-short,
.golden-short {
    width: 38.195%;
}

.golden-ratio-wide,
.golde-wide {
    width: 61.805%;
}

/**
 * One of the most cumbersome things with traditional grid system is their use of
 * classes like `.end`, `.omega` or the like in order to remove the gutter at the start
 * or the end of a row. With SSGS this is not necessary anymore, yay!
 *
 * Example:
    <div class="grid clearfix">
        <div class="grid-col one-half"></div>
        <div class="grid-col one-half"></div>
    </div>
 *
 * Note: Don't apply things like backgrounds or borders to the columns themselves.
 * It's neither good practice (use grids only for layout, not for styling) nor will
 * it work with SGSS. Use an element inside the column to do those things.
 */

.grid {
    margin-left: -1.5em;
}